<%- include('../partials/header') %>

<section id="roast-details">
    <div>Title:</div>
    <div><%- roast.roastName %></div>
    <div>Roast Date:</div>
    <div><%- roast.roastDate %></div>
    <div>Total Roast Time:</div>
    <div><%- roast.roastTime %></div>
    <div>Roast Type:</div>
    <div><%- roast.roastType %></div>
    <div>Temperature:</div>
    <div><%- roast.roastTemp %></div>
    <div>Fan Speed:</div>
    <div><%- roast.fanSpeed %></div>
    <div>Yellowing Time:</div>
    <div><%- roast.yellowTime %></div>
    <div>Browning Time:</div>
    <div><%- roast.brownTime %></div>
    <div>First crack start time(minutes):</div>
    <div><%- roast.firstCrkStart %></div>
    <div>First crack end time(minutes):</div>
    <div><%- roast.firstCrkEnd %></div>
    <div>Roasting Method:</div>
    <div><%- roast.airRoaster %></div>
    <div><%- roast.drumRoaster %></div>
    <div><%- roast.stoveRoaster %></div>
    <div>Now Sharing: </div>
    <div><%- roast.nowSharing ? 'Yes, msg me for a sample' : 'Nope, all out' %></div>
</section>  

<br><br><h2>Review a roast</h2>
<form id="add-review-form" method="POST"
    action="/roasts/<%= roast._id %>/reviews">
    <label>Review:</label>
    <label>Touch:</label>
    <textarea name="content"></textarea>
    <label>Taste:</label>
    <textarea name="content"></textarea>
    <label>Smell:</label>
    <textarea name="content"></textarea>
    <label>Brew Method:</label>
    <select name="brewType">
        <option value="Drip">Drip</option>
        <option value="Espresso">Espresso</option>
        <option value="French Press">French Press</option>
        <option value="Aeropress">Aeropress</option>
        <option value="Chemex">Chemex</option>
        <option value="Cowboy">Cowboy</option>
        <option value="Cold Brew">Cold Brew</option>
        <option value="Other">Other</option>
    </select>
    <label>Rating:</label>
    <select name="rating">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
        <option value="6"></option>
        <option value="7"></option>
        <option value="8"></option>
        <option value="9"></option>
        <option value="10"></option>
    </select>
    <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>
